.users {
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.user {
  margin: 1rem 5rem;
}

.avatar {
  width: 10rem;
  height: 10rem;
}

.user-name {
  margin-top: 1rem;
  margin-left: -0.5rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: left;
  border-radius: var(--border-radius);
  transition: all 0.5s;
}

.user-name:before {
  right: -50px;
  border-right: 50px solid transparent;
  transform: translateX(-100%);
}

.user-name:after {
  right: -50px;
  border-right: 50px solid transparent;
  transform: translateX(100%);
}

.user-name:hover {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  transform: translateX(3rem);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  background: var(--primary);
  border-radius: var(--border-radius);
  color: var(--secondary);
  text-align: right;
}

.user-name:hover:before {
  transform: translateX(-40%);
}
.user-name:hover:after {
  transform: translateX(40%);
}
