.dark {
  background: var(--dark-bg);
}

.accueil {
  margin: 0 0;
}

.accueil header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 4rem;
  padding-bottom: 4rem;
  background: var(--dark-bg);
}

.logo {
  margin-left: 2rem;
}

.welcome-msg {
  position: absolute;
  margin-bottom: 0;
  width: 100%;
  color: var(--secondary);
  text-align: center;
}

.users {
  justify-content: center;
  align-items: center;
  display: flex;
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.user {
  margin: 1rem 5rem;
}

.avatar {
  width: 10rem;
  height: 10rem;
}

.user-name {
  margin-top: 1rem;
  color: var(--primary);
}

.user-name:hover {
  background: var(--primary);
  border-radius: var(--border-radius);
  color: var(--secondary);
  padding-left: 0.5rem;
}
