.alert-msg {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding-left: 5rem;
}

.info-redirection {
  margin-top: 5rem;
  color: var(--alert);
}

/* ERROR PAGE */
.error-number {
  font-size: 10em;
  font-weight: 800;
  text-align: center;
  color: var(--alert);
}

.error-message {
  text-align: center;
  font-size: x-large;
}

.error-oups {
  font-size: xxx-large;
}

.error-back {
  width: 200px;
  border-bottom: solid 2px var(--link);
  color: var(--link);
  font-size: x-small;
  height: 50px !important;
  text-align: center;
  margin: auto;
}

/* UNKNOWN USER PAGE */
.avatar {
  width: 10rem;
  height: 10rem;
}
