.alert-msg {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.info-redirection {
  margin-top: 5rem;
  color: var(--alert);
}

/* ERROR PAGE */
.error {
  margin: 0 0;
}

.error-number {
  font-size: 10em;
  font-weight: 800;
  text-align: center;
  color: var(--alert);
}

.error-message {
  text-align: center;
  font-size: x-large;
}

.error-oups {
  font-size: xxx-large;
}

.error-back {
  width: fit-content;
  height: 2.5rem !important;
  margin: auto;
  padding: 0 0 !important;
  border-bottom: solid 2px var(--link);
  color: var(--link);
  font-size: x-small;
}

/* LOADING PAGE */
.loader {
  margin: 0 0;
}
