.aside-content {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  padding: 1.5rem;
  background: var(--icon-bg-health);
  border-radius: var(--icon-border-radius);
}

.aside-content img {
  border-radius: var(--icon-border-radius);
}

#icone-Calories {
  background: var(--icon-bg-calories);
}

#icone-Protéines {
  background: var(--icon-bg-proteins);
}

#icone-Glucides {
  background: var(--icon-bg-carbohydrates);
}

#icone-Lipides {
  background: var(--icon-bg-lipids);
}

.aside-keyData {
margin-left: 1.5rem;
margin-right: 2rem;
}

.aside-keyData p {
  margin-bottom: 0;
}
