.banner {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 2rem;
  background: var(--dark-bg);
}

.banner-brand {
  z-index: 1;
  width: 15rem;
}

.brand {
  margin-left: 1rem;
}

.msg {
  margin-bottom: 0;
  color: var(--secondary);
  text-align: center;
}
