/* HEADER */
.user-header {
  margin-top: 2rem;
  padding-left: 8rem;
}

.user-name {
  color: var(--primary);
}

.welcome-message {
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-size: larger;
}

/* MAIN */
.performances {
  display: flex;
  margin-bottom: 2rem;
  padding-left: 8rem;
}

.performances-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 75%;
  margin-right: 2rem;
}

@media screen and (max-width: 1240px) {
  .user-header {
    padding-left: 9rem;
  }

  .performances {
    padding-left: 9rem;
    flex-direction: column;
  }

  .performances-details {
    width: 95%;
    margin-right: 0
  }

  .aside {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    width: 95%;
    margin-top: 2rem;
  }

  .aside-content {
    display: block;
    padding: 5%;
    width: 22%;
  }

  .aside-keyData {
    margin: 1rem 0 0;
  }
}
