.light {
  background: var(--light-bg-color);
}

/* HEADER */
.user-name {
  color: var(--text-user-name);
}

.welcome-message {
  margin-top: 2rem;
  margin-bottom: 4rem;
  font-size: larger;
}

/* MAIN */
.performances {
  justify-content: space-between;
  display: flex;
}

.performances-details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 75%;
  margin-right: 2rem;
}
