.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

.navbar {
  padding-top: 0;
  padding-bottom: 0;
}

.navbar-brand {
  z-index: 1;
  margin-right: 0;
  margin-left: 1.25rem;
  padding-top: 1rem;
  width: 12rem;
  text-align: center;
}

.brand {
  margin-left: 1rem;
}

.nav-link {
  height: 100px;
  display: flex;
  align-items: center;
  color: var(--link);
}
.active {
  color: var(--active-link);
  border-bottom: 5px solid var(--primary);
  padding: 0;
}

.nav-link:focus,
.nav-link:hover {
  color: var(--link);
}
