.sidebar {
  position: fixed;
  bottom: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 6.5em;
  background: var(--dark-bg);
}

.sidebar-items {
  display: flex;
  justify-content: center;
  margin: 1em auto;
  width: var(--icon-64);
  height: var(--icon-64);
  background: var(--white-bg);
  border-radius: var(--border-radius);
}

.active {
  color: var(--active-link);
  border-bottom: 5px solid var(--primary);
  padding: 0;
}

.copyright {
  position: absolute;
  left: -3rem;
  bottom: 12.5%;
  width: 200px;
  margin: 0;
  transform: rotate(-90deg);
  text-align: center;
  color: var(--secondary);
  font-size: x-small;
}

