:root {
  /* BACKGROUND COLORS */
  --navBar-bg-color: rgb(33, 37, 41);
  --icon-bg-activity: #fff;
  --icon-bg-calories: rgba(255, 0, 0, 0.1);
  --icon-bg-proteins: rgba(74, 184, 255, 0, 1);
  --icon-bg-carbohydrates: rgba(249, 206, 35, 0.1);
  --icon-bg-lipids: rgba(255, 165, 0, 0.1);

  /* SHAPE */
  --icon-border-radius: 0.5rem;

  /* SIZES */
  --icon-64: 64px;
  --icon-32: 32px;
  
  /* TEXT COLORS */
  --text-user-name: #ff0000;
  --text-active-link: #fff;
  --text-link: grey;
}
