:root {
  /* BACKGROUND COLORS */
  --dark-bg-color : rgb(33, 37, 41);
  --light-bg-color : #fff;
  --icon-bg-activity: #fff;
  --icon-bg-health: rgba(0, 0, 0, 0.025);
  --icon-bg-calories: rgba(255, 0, 0, 0.1);
  --icon-bg-proteins: rgba(74, 184, 255, 0.15);
  --icon-bg-carbohydrates: rgba(249, 206, 35, 0.2);
  --icon-bg-lipids: rgba(255, 127, 0, 0.1);

  /* SHAPE */
  --icon-border-radius: 0.5rem;

  /* SIZES */
  --icon-64: 64px;
  --icon-32: 32px;

  /* TEXT COLORS */
  --text-user-name: #ff0000;
  --alert: #ff0000;
  --text-active-link: #fff;
  --text-link: grey;
}
